#header{
    background-color: #d35400;
}

.menu{
    margin-right:15%; 
}

.recherche .bouton{ 
    background-image: url(images/bouton.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    padding: 0;
}